<h1>Phone Numbers</h1>

<p><%= link_to 'Add number', new_phone_number_path, class: 'btn success' %></p>

<ul class="phone-number-list">
  <% @phone_numbers.each do |phone_number| %>
    <%= content_tag :li, id: dom_id(phone_number), class: 'phone-number-item' do %>
      <%= phone_number.number %>
      <%= phone_number.nickname.present? ? "\"#{phone_number.nickname}\"" : '' %>
      (<%= phone_number.enabled? ? 'Enabled' : 'Disabled' %>)
      <%= link_to('Edit', edit_phone_number_path(phone_number)) %>
      <%= link_to 'Delete', phone_number_path(phone_number), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</ul>
