<!DOCTYPE html>
<html>
  <head>
    <title>InterviewExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="topnav">
      <%= nav_link 'Agents', agents_path %>
      <%= nav_link 'Phone Numbers', phone_numbers_path %>
      <%= nav_link 'Phone Calls', phone_calls_path %>
    </div>
    <%= yield %>
  </body>
</html>